@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url('./../../fonts/roboto-v18-latin-300.woff2') format('woff2'),
  url('./../../fonts/roboto-v18-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('./../../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
  url('./../../fonts/roboto-v18-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Olivier';
  font-style: normal;
  font-weight: 400;
  src: local('Olivier'),
  url('./../../fonts/olivier.woff2') format('woff2'),
  url('./../../fonts/olivier.woff') format('woff');
}
