.headline {
  margin-top: 165px;
  margin-right: 280px;
  float: right;

  text-align: center;
}

.headline__text {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 130px;

  font-size: 30px;
  line-height: normal;
  font-weight: 300;
  letter-spacing: 12px;
}

.headline__button {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 240px;
  margin-left: auto;
  margin-right: 162px;

  text-decoration: none;
  color: inherit;
  font-size: 30px;
  line-height: normal;
  font-weight: 300;
  letter-spacing: 12px;

  border: 1px solid #ffffff;
  border-radius: 10px;
}
