.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration__lead {
  margin: 0;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
