.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 745px;

  font-weight: 300;
}

.registration__lead {
  margin: 0;
  margin-right: 85px;
  margin-left: auto;
  margin-bottom: 75px;
  width: 440px;

  font-family: Olivier, sans-serif;
  font-size: 80px;
  line-height: normal;
  letter-spacing: 8px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;

  border: 0;
  width: 680px;
}

.registration__group--email {
   margin-top: 40px;
}

.registration__group--password {
  margin-top: 25px;
}

.registration__group:last-of-type {
  margin-bottom: 0;
}

.registration__legend {
  display: block;
  margin: 0;

  font-size: 30px;
  line-height: normal;
}

.registration__option {
  font-size: 25px;
  line-height: normal;
  text-align: center;

  border: 1px solid #1f253d;
  border-radius: 10px;
  padding: 18px;
  box-sizing: border-box;
  width: 195px;
}

.registration__option:first-of-type {
  margin-left: auto;
}

.registration__option:last-of-type {
  margin-left: 100px;
}

input:checked + .registration__option {
  background-color: #1f253d;
  color: #ffffff;
}

.registration__input {
  font: inherit;
  font-size: 25px;
  line-height: normal;
  font-weight: 400;

  border: 0;
  width: 490px;

  margin-left: auto;
}

.registration__button {
  padding: 20px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: 165px;
  margin-bottom: 35px;

  width: 292px;
  border: 1px solid #1f253d;
  background-color: #1f253d;
  border-radius: 10px;

  font-size: 30px;
  line-height: normal;
  font-weight: 300;
  color: #ffffff;
}

.registration__disclaimer {
  margin: 0;
  width: 595px;
  margin-left: auto;

  font-size: 15px;
  line-height: normal;
  letter-spacing: 1.5px;
}
